<div class="note">
	<div class="note_header">
		<p id="date_description">Nächsten Mittwoch</p>
		<p id="note_title">CAS FEE Selbststudium / Projekt Aufgabe erledigen</p>
	</div>
	
	<div class="status">
		<input type="checkbox" name="status" value="empty">Finished<br/>
	</div>
	
	<div class="message">
		<textarea rows="3" cols="30">I've come here to chew bubblegum and kick ass!</textarea>
		<button type="button" onclick="notImplemented()">Edit</button>
	</div>  
</div>